
.Background {
    background-image: url("../image/pochetteafrique.png");
    height:95vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 80%;
    
}
   