body{
    background-color: black;
    color:white;
    
    
}

 /* HEADER STYLES */
.Background {
    background-image: radial-gradient(rgba(0, 0, 0, 0.616), rgba(10, 2, 2, 7)),url("../image/pochetteafrique.png");
    height:100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 /* END HEADER STYLES */
   
}
   