body{
    background-color: black;
    color:white;
    
    
}
html{
    scroll-behavior: smooth;
    /* scroll-snap-align: start;
    scroll-snap-type: Y mandatory; */
    position: relative;
}
 /* HEADER STYLES */
.Background {
    background-image: radial-gradient(rgba(0, 0, 0, 0.616), rgba(10, 2, 2, 7)),url("../image/pochetteafrique.png");
    height:100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (min-width: width 768px) and (max-width:1200px){
        height:90vh;
    }
    @media screen and (min-width: 280px) and (max-width:767px){
        height:80vh;
    }
 /* END HEADER STYLES */
   
}
   